<!-- footer -->
<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__container">
      <div class="p-footer__info">
        <a href="<?php echo home_url('/'); ?>">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300.141" height="22.889" viewBox="0 0 300.141 22.889">
            <defs>
              <clipPath id="clip-path">
                <rect id="長方形_24463" data-name="長方形 24463" width="300.141" height="22.889" fill="#fff" />
              </clipPath>
            </defs>
            <g id="logo" transform="translate(-29.971 -46.941)">
              <g id="グループ_32285" data-name="グループ 32285" transform="translate(29.971 46.942)">
                <rect id="長方形_24462" data-name="長方形 24462" width="22.889" height="22.889" fill="#003e92" />
                <path id="パス_52643" data-name="パス 52643" d="M49.848,13.617,46.107,16.69l1.27-3.072Z" transform="translate(-27.842 -8.223)" fill="#f99900" />
                <g id="グループ_32286" data-name="グループ 32286">
                  <g id="グループ_32285-2" data-name="グループ 32285" clip-path="url(#clip-path)">
                    <path id="パス_52644" data-name="パス 52644" d="M10.116,20.168a.3.3,0,0,0-.018-.094l0,0L7.7,13.753h0a.254.254,0,0,0-.233-.167H3.874a.267.267,0,0,0-.255.277.289.289,0,0,0,.018.093l0,0,2.395,6.313h0a.256.256,0,0,0,.235.173h3.6a.266.266,0,0,0,.255-.277" transform="translate(-2.298 -8.203)" fill="#fff" />
                    <path id="パス_52645" data-name="パス 52645" d="M28.473,13.955a.291.291,0,0,0,.017-.093.266.266,0,0,0-.255-.277H22.873a.254.254,0,0,0-.233.167h0L17.889,26.311a.577.577,0,0,0-.016.1.267.267,0,0,0,.255.277l8.719-.008-2.665-1.368,4.293-11.352Z" transform="translate(-11.349 -8.203)" fill="#fff" />
                    <path id="パス_52646" data-name="パス 52646" d="M102.252,13.936a15.256,15.256,0,0,0-1.131,3.141,12.193,12.193,0,0,1-1.361-2.392c.019.645.038,1.144.038,2.08v4.347a26.423,26.423,0,0,0,.115,2.683H96.867c.077-.769.115-1.643.115-2.683V18.6c0-.915.019-1.934.058-2.475a11.481,11.481,0,0,1-.824,2.018,13.315,13.315,0,0,1-.9,1.581A16.764,16.764,0,0,0,94.2,16.2a15.622,15.622,0,0,0,2.53-5.616H96.12a6.575,6.575,0,0,0-1.418.1v-3.1a6.751,6.751,0,0,0,1.457.1h.805V6.324a13.458,13.458,0,0,0-.115-2.163h3.067A16.327,16.327,0,0,0,99.8,6.324V7.7h.824a6.644,6.644,0,0,0,1.169-.1v3.078a7.244,7.244,0,0,0-1.131-.083h-.728a10.566,10.566,0,0,0,2.319,3.349V6.823c0-.666-.019-1.206-.077-2.163.671.062,1.226.083,1.916.083h5.788c.767,0,1.4-.042,1.859-.083-.057.707-.077,1.352-.077,2.142V20.967c0,1.019.038,2,.115,2.745h-3.009V22.8h-3.622v.936h-3.009c.077-.79.115-1.809.115-2.766Zm2.894-4.056h3.622v-2.2h-3.622Zm0,5.013h3.622V12.626h-3.622Zm0,4.992h3.622V17.639h-3.622Z" transform="translate(-59.819 -2.512)" fill="#fff" />
                    <path id="パス_52647" data-name="パス 52647" d="M152.169,16.021a35.82,35.82,0,0,1-.594,6.635L149.7,21.533a24.222,24.222,0,0,0,.574-5.72Zm-2.376-3.578a4.714,4.714,0,0,0,1.015.083c.115,0,.249,0,.671-.021.249-.374.307-.457.594-.873a26.2,26.2,0,0,0-2.338-3.1l1.245-2.621.537.666a16.037,16.037,0,0,0,1.111-2.891l2.53.957c-.134.25-.192.353-.441.894-.46.978-1.112,2.226-1.61,3.037.23.333.23.333.441.624a20.231,20.231,0,0,0,1.705-3.286l1.859,1.082V5.185a16.413,16.413,0,0,0,2.3.125h1.4a8.766,8.766,0,0,0-.1-1.394h3.028a6.364,6.364,0,0,0-.115,1.394h1.82a16.493,16.493,0,0,0,2.281-.125V7.993a18.214,18.214,0,0,0-2.2-.083h-1.9V8.8h1.533a16.193,16.193,0,0,0,2.012-.083v2.662a15.267,15.267,0,0,0-1.993-.083h-5.654a15.432,15.432,0,0,0-2.013.083V8.721a16.365,16.365,0,0,0,2.032.083h1.265V7.909h-1.456a19.61,19.61,0,0,0-2.243.083v-.25q-.834,1.4-1.9,3.057l1.341-.52a33.18,33.18,0,0,1,.9,3.556v-.27a14.428,14.428,0,0,0-.057-1.6,12.859,12.859,0,0,0,1.629.062h6.976a11.322,11.322,0,0,0,1.648-.083,11.64,11.64,0,0,0-.077,1.6v1.248a13.619,13.619,0,0,0,.1,1.726h-2.76v3.515c0,.229.058.312.287.312.326,0,.46-.1.5-.395a19.955,19.955,0,0,0,.077-2.246,8.511,8.511,0,0,0,2.319.936,11.175,11.175,0,0,1-.5,3.536c-.326.77-1.016,1.019-2.855,1.019-1.916,0-2.453-.437-2.453-2V16.375a6.976,6.976,0,0,0-.077-1.207h2.683V14.5h-4.964v.666l1.782.021a11.287,11.287,0,0,0-.1,1.664,7.843,7.843,0,0,1-1.3,4.347,7.219,7.219,0,0,1-2.779,2.246,11.24,11.24,0,0,0-1-2.1l-.824.166a47.4,47.4,0,0,0-.287-5.408l1.476-.333c.172,1.373.307,3.016.345,4.367,1.227-.81,1.648-1.684,1.744-3.619H157.4a13.486,13.486,0,0,0,.057-1.5l-1.495.6a6.9,6.9,0,0,1-.1-.728c-.518.063-.518.063-.767.084v6.261a13.8,13.8,0,0,0,.115,2.288h-2.76a14.409,14.409,0,0,0,.115-2.288V15.148c-.288.021-.537.041-.69.041-.364.021-.594.042-.689.042a5.091,5.091,0,0,0-1.169.145Zm4.312-.021c.5-.021.5-.021,1.265-.062a9.236,9.236,0,0,0-.345-1.289c-.4.624-.518.79-.92,1.352" transform="translate(-95.058 -2.226)" fill="#fff" />
                    <path id="パス_52648" data-name="パス 52648" d="M213.975,7.943c-1.667.125-3.2.187-5.693.229a12.587,12.587,0,0,0-.92-2.891h1.284a55.461,55.461,0,0,0,9.448-.728,11.9,11.9,0,0,0,2.645-.707L222.791,6.8a50.161,50.161,0,0,1-5.768.894V9.607h3.334a22.426,22.426,0,0,0,2.741-.125v3.161c-.748-.062-1.553-.1-2.7-.1h-3.373v1.789h4.331a21.56,21.56,0,0,0,2.682-.125v3.2a21.993,21.993,0,0,0-2.682-.125h-4.331V20.61c0,1.144-.268,1.81-.825,2.163a5.541,5.541,0,0,1-2.319.478h-.287c-.02,0-.23-.021-.46-.021-.5,0-.594,0-2.127-.1a8.882,8.882,0,0,0-.8-3.078,27.765,27.765,0,0,0,3.066.229c.536,0,.709-.145.709-.666V17.282h-4.811a22.09,22.09,0,0,0-2.663.125V14.2a21.435,21.435,0,0,0,2.663.125h4.811V12.54h-3.737c-1.035,0-1.936.042-2.74.1V9.483a22.2,22.2,0,0,0,2.74.125h3.737Z" transform="translate(-131.128 -2.322)" fill="#fff" />
                    <path id="パス_52649" data-name="パス 52649" d="M263.468,16.021a35.822,35.822,0,0,1-.594,6.635L261,21.533a24.237,24.237,0,0,0,.575-5.72Zm-2.376-3.578a4.714,4.714,0,0,0,1.015.083c.115,0,.249,0,.671-.021.249-.374.307-.457.594-.873a26.208,26.208,0,0,0-2.338-3.1l1.245-2.621.537.666a16.039,16.039,0,0,0,1.111-2.891l2.53.957c-.134.25-.192.353-.441.894-.46.978-1.112,2.226-1.61,3.037.23.333.23.333.441.624a20.2,20.2,0,0,0,1.705-3.286l1.859,1.082V5.185a16.414,16.414,0,0,0,2.3.125h1.4a8.762,8.762,0,0,0-.1-1.394h3.028a6.367,6.367,0,0,0-.115,1.394h1.82a16.486,16.486,0,0,0,2.281-.125V7.993a18.213,18.213,0,0,0-2.2-.083h-1.9V8.8h1.533a16.194,16.194,0,0,0,2.012-.083v2.662a15.268,15.268,0,0,0-1.993-.083h-5.654a15.421,15.421,0,0,0-2.012.083V8.721a16.354,16.354,0,0,0,2.032.083h1.265V7.909h-1.456a19.612,19.612,0,0,0-2.243.083v-.25q-.833,1.4-1.9,3.057l1.341-.52a33.284,33.284,0,0,1,.9,3.556v-.27a14.43,14.43,0,0,0-.057-1.6,12.86,12.86,0,0,0,1.629.062H277.3a11.323,11.323,0,0,0,1.648-.083,11.64,11.64,0,0,0-.077,1.6v1.248a13.616,13.616,0,0,0,.1,1.726h-2.76v3.515c0,.229.058.312.287.312.326,0,.46-.1.5-.395a19.958,19.958,0,0,0,.077-2.246,8.51,8.51,0,0,0,2.319.936,11.175,11.175,0,0,1-.5,3.536c-.326.77-1.015,1.019-2.855,1.019-1.916,0-2.453-.437-2.453-2V16.375a6.973,6.973,0,0,0-.077-1.207h2.683V14.5H271.23v.666l1.782.021a11.269,11.269,0,0,0-.1,1.664,7.843,7.843,0,0,1-1.3,4.347,7.219,7.219,0,0,1-2.779,2.246,11.241,11.241,0,0,0-1-2.1l-.824.166a47.4,47.4,0,0,0-.287-5.408l1.476-.333c.173,1.373.307,3.016.345,4.367,1.227-.81,1.648-1.684,1.744-3.619H268.7a13.489,13.489,0,0,0,.057-1.5l-1.495.6a6.893,6.893,0,0,1-.1-.728c-.518.063-.518.063-.767.084v6.261a13.8,13.8,0,0,0,.115,2.288h-2.76a14.408,14.408,0,0,0,.115-2.288V15.148c-.288.021-.537.041-.69.041-.364.021-.594.042-.689.042a5.091,5.091,0,0,0-1.169.145Zm4.312-.021c.5-.021.5-.021,1.265-.062a9.233,9.233,0,0,0-.345-1.289c-.4.624-.518.79-.92,1.352" transform="translate(-165.732 -2.226)" fill="#fff" />
                    <path id="パス_52650" data-name="パス 52650" d="M324.267,6.063a10.919,10.919,0,0,0-.1-1.851h3.334a10.767,10.767,0,0,0-.1,1.851V6.5h4.6a21.235,21.235,0,0,0,2.664-.125V9.557a21.093,21.093,0,0,0-2.645-.125H327.41v1.976H330a7.49,7.49,0,0,0,1.61-.1l1.706,1.872c-.23.312-.23.312-1,1.518a20.6,20.6,0,0,1-3.373,3.952,16.414,16.414,0,0,0,6.19,1.706,18.362,18.362,0,0,0-1.361,3.452,20.5,20.5,0,0,1-7.647-3.036,21.972,21.972,0,0,1-7.819,2.974,14.681,14.681,0,0,0-1.4-3.161,20.712,20.712,0,0,0,6.593-1.83,21.579,21.579,0,0,1-2.913-3.536l2.185-.957h-1.648a21.6,21.6,0,0,0-2.491.125v-3.1a21.326,21.326,0,0,0,2.587.125h3.047V9.433h-4.331a21.306,21.306,0,0,0-2.645.125V6.375a21.652,21.652,0,0,0,2.664.125h4.312Zm-.785,8.195a11.853,11.853,0,0,0,2.74,2.849,11.758,11.758,0,0,0,2.7-2.849Z" transform="translate(-201.236 -2.543)" fill="#fff" />
                    <path id="パス_52651" data-name="パス 52651" d="M389.807,17.344c-.249.333-.249.333-.728,1.04a14.851,14.851,0,0,1-1.495,1.726,13.277,13.277,0,0,0,3.316.561,16.534,16.534,0,0,0-1.112,3.016,14.451,14.451,0,0,1-4.523-1.726,13.631,13.631,0,0,1-4.063,1.706,10.1,10.1,0,0,0-.9-1.831,10.726,10.726,0,0,1-1.533,1.6,9.219,9.219,0,0,0-1.246-2.039c-.1,1.623-.747,2.1-2.8,2.1-.364,0-.747-.021-1.476-.041a9.155,9.155,0,0,0-.613-2.974,14.091,14.091,0,0,0,1.591.1c.4,0,.5-.124.5-.624V16.449c-1.265.333-1.265.333-1.706.479l-.46-3.2a12.93,12.93,0,0,0,2.165-.312V10.459h-.594a10.14,10.14,0,0,0-1.322.083V7.485a6.878,6.878,0,0,0,1.361.1h.556V6.154a15.061,15.061,0,0,0-.1-2.143h3.009a15.229,15.229,0,0,0-.1,2.143V7.589h.4a5.477,5.477,0,0,0,.8-.042V10.5a5.873,5.873,0,0,0-.8-.042h-.4v2.225c.4-.124.556-.187,1.054-.353l.019,2.849-1.073.374v4.826a10.687,10.687,0,0,0,3.124-5.221,11.1,11.1,0,0,0-1.648.083V12.684a14.494,14.494,0,0,0,1.725.084h.364a7,7,0,0,0,.077-.749h-.4c-.537,0-1.054.021-1.59.062V9.69a8.051,8.051,0,0,0,1.054.063,6.839,6.839,0,0,0-.862-1.831l1.821-.582c-.748.042-.939.063-1.955.1a8.314,8.314,0,0,0-.8-2.475h.728c3.6,0,7.991-.52,9.352-1.123l1.82,2.454c-.632.1-1.533.25-2.7.416l2.625.645a19.55,19.55,0,0,1-1.188,2.392,6.017,6.017,0,0,0,1.227-.083V12.1a17.316,17.316,0,0,0-1.9-.083H384c-.038.353-.038.353-.1.749h4.408a20.006,20.006,0,0,0,2.319-.1v2.62a17.3,17.3,0,0,0-2.319-.125h-4.848c-.077.271-.1.354-.154.624h3.43a9.723,9.723,0,0,0,1.667-.083ZM384.69,7.069c-1.169.1-1.226.125-2.913.229a11.879,11.879,0,0,1,.863,1.893l-1.783.562h2.932a7.91,7.91,0,0,0-.9-2.1Zm-3.737,13.873A12.055,12.055,0,0,0,383,20.276c-.518-.5-.671-.666-1.035-1.06a13.924,13.924,0,0,1-1.016,1.726m2.836-3.036a11.372,11.372,0,0,0,1.322,1.061,5.749,5.749,0,0,0,1.035-1.061Zm2.664-8.153a13.114,13.114,0,0,0,1.111-3.037c-.939.125-.939.125-2.3.291a8.555,8.555,0,0,1,.92,2.142l-1.936.6Z" transform="translate(-236.575 -2.322)" fill="#fff" />
                    <path id="パス_52652" data-name="パス 52652" d="M433.317,8.787a18.736,18.736,0,0,0-.134-2.579h3.68a13.723,13.723,0,0,0-.153,2.5v1.664l6.688-.79a3.322,3.322,0,0,0,1.361-.333l1.917,1.914a2.814,2.814,0,0,0-.633,1.144,20.125,20.125,0,0,1-2.07,3.681,14.175,14.175,0,0,1-2.76,2.849,10.3,10.3,0,0,0-2.683-2.35,10.137,10.137,0,0,0,2.013-1.6,6.95,6.95,0,0,0,1.4-1.914l-5.251.666v4.451c0,1.518.038,1.851.307,2.08.211.229.9.333,2.031.333a19.94,19.94,0,0,0,6.171-.874l.115,3.89h-.307c-.479.021-.5.042-.9.083-1.84.187-4.006.333-5.117.333a12.989,12.989,0,0,1-3.68-.374,2.909,2.909,0,0,1-1.783-1.976,9.924,9.924,0,0,1-.211-3.016V14.028l-1.15.146a13.536,13.536,0,0,0-2.53.437l-.326-3.578c.364.021.613.042.709.042.268,0,1.169-.083,1.8-.146l1.5-.187Z" transform="translate(-272.612 -3.749)" fill="#fff" />
                    <path id="パス_52653" data-name="パス 52653" d="M484.226,8.2a28.116,28.116,0,0,1,5.27,4.077l-2.261,3.244a20.782,20.782,0,0,0-5.213-4.388ZM482.213,21.12a17.992,17.992,0,0,0,5.769-1.5,11.818,11.818,0,0,0,5.615-5.138,19.8,19.8,0,0,0,1.878-4.077,12.8,12.8,0,0,0,2.817,2.787c-1.744,4.1-3.565,6.552-6.248,8.424a19.857,19.857,0,0,1-7.455,3.12c-.748.187-.862.208-1.38.374Z" transform="translate(-306.084 -4.954)" fill="#fff" />
                    <path id="パス_52654" data-name="パス 52654" d="M539.372,4.94c-.019.042-.287.624-.824,1.81l5.155-.062a1.983,1.983,0,0,0,1.169-.271l1.706,1.831a1.949,1.949,0,0,0-.441.894,27.725,27.725,0,0,1-3.565,8.029,19.075,19.075,0,0,1-4.657,4.7,21.812,21.812,0,0,1-3.3,1.914,11.547,11.547,0,0,0-2.242-3.12,15.534,15.534,0,0,0,6.5-4.264,20.585,20.585,0,0,0-3.565-2.579l2.012-2.62a24.6,24.6,0,0,1,3.526,2.371A15.311,15.311,0,0,0,542.5,9.765l-5.309.042a21.533,21.533,0,0,1-4.37,5.637,9.508,9.508,0,0,0-2.76-2.35,17.608,17.608,0,0,0,4.772-5.969,14.034,14.034,0,0,0,1.111-2.912Z" transform="translate(-336.586 -2.543)" fill="#fff" />
                    <path id="パス_52655" data-name="パス 52655" d="M579.934,23.744a25.017,25.017,0,0,0,3.929.187h9.16a28.967,28.967,0,0,0,3.929-.187v4.014A34.027,34.027,0,0,0,593,27.633h-9.122a37.208,37.208,0,0,0-3.948.125Z" transform="translate(-368.258 -14.338)" fill="#fff" />
                    <path id="パス_52656" data-name="パス 52656" d="M640.311,13.87h.843a11.4,11.4,0,0,0,1.955-.1v3.016a15.7,15.7,0,0,0-1.9-.083,7.677,7.677,0,0,0,1.514,1.352,18.617,18.617,0,0,0-1.169,2.829,6.3,6.3,0,0,1-1.284-1.56c.019.769.039,1.1.039,1.373V21.9a10.057,10.057,0,0,0,.1,1.684h-2.99a11.349,11.349,0,0,0,.077-1.539V21c0-.312.019-.624.038-1.144a9.549,9.549,0,0,1-2.721,3,11.881,11.881,0,0,0-1.169-3.141,9.867,9.867,0,0,0,1.955-1.6,8.51,8.51,0,0,0,1.111-1.414h-.824a15.633,15.633,0,0,0-1.916.083V13.766a11.65,11.65,0,0,0,1.974.1h1.552v-.915h-1.61a15.662,15.662,0,0,0-1.916.084V9.96a9.224,9.224,0,0,0,1.763.1,9.765,9.765,0,0,0-.422-1.726c-.441.021-.594.021-.977.063V5.363a11.946,11.946,0,0,0,1.974.1h1.073a10.283,10.283,0,0,0-.1-1.5h3.22a7.618,7.618,0,0,0-.1,1.5h.786a11.4,11.4,0,0,0,1.954-.1V8.4c-.344-.042-.46-.042-.766-.063-.1.4-.345,1.415-.441,1.726a10.268,10.268,0,0,0,1.284-.1v3.079a16.568,16.568,0,0,0-1.955-.084h-.958Zm-1.054-3.806a9.568,9.568,0,0,0,.4-1.747h-1.61a8.167,8.167,0,0,1,.4,1.747Zm11.039.062A9.026,9.026,0,0,0,652.04,10v3.2a8.207,8.207,0,0,0-1.4-.083h-.23V20.8a20.335,20.335,0,0,0,.115,2.807h-3.1a20.537,20.537,0,0,0,.115-2.807V13.122h-1.054a32.356,32.356,0,0,1-.537,5.948,13.891,13.891,0,0,1-1.763,4.68,11.921,11.921,0,0,0-2.721-1.851,10.634,10.634,0,0,0,1.706-3.723c.345-1.414.5-4.389.5-10.212a17.2,17.2,0,0,0-.134-2.392,18.87,18.87,0,0,0,4.887-1.019,5.256,5.256,0,0,0,1.5-.707L652.1,6.736c-.345.1-.345.1-.709.229A27.656,27.656,0,0,1,646.5,8.088v2.038Z" transform="translate(-402.362 -2.322)" fill="#fff" />
                    <path id="パス_52657" data-name="パス 52657" d="M694.32,16.982a37.184,37.184,0,0,1-1.936,5.72c-.192.458-.268.645-.364.915l-2.415-2.371a10.638,10.638,0,0,0,1.112-2.142,27.37,27.37,0,0,0,1.36-4.139Zm-2.99-7.758a14.163,14.163,0,0,1,3.373,2.7l-1.668,2.5a17.746,17.746,0,0,0-3.392-2.787Zm10.215,7.737a16.21,16.21,0,0,1,.9,3.64c.288.021.69.042.92.042.671,0,.824-.145,1-.936a20.232,20.232,0,0,0,.249-2.787,2.745,2.745,0,0,0-.019-.354h-7.129a9.692,9.692,0,0,1-1.092.957l.92.312a21.9,21.9,0,0,1-1.054,5.387l-2.4-1.352a17.152,17.152,0,0,0,1.3-4.16,14.352,14.352,0,0,0-1.495-1.893,7.8,7.8,0,0,0,3.028-2.475c-.575,0-1.112.021-1.648.062.038-.478.057-.811.057-2.059V6.832l-1.61,2.392a16.139,16.139,0,0,0-3.316-2.787l1.783-2.371a15.657,15.657,0,0,1,3.143,2.454,11.864,11.864,0,0,0-.057-1.331A10.9,10.9,0,0,0,699.476,4l1.4,2.475V4.669a8.479,8.479,0,0,0,1.342.083h2.568a12.156,12.156,0,0,0,1.763-.062,16.6,16.6,0,0,0-.077,2v4.576a21.32,21.32,0,0,0,.077,2.142,13.768,13.768,0,0,0-1.9-.062h-4.868a6.978,6.978,0,0,1-.4.728h6.171a12.767,12.767,0,0,0,1.917-.063,9.472,9.472,0,0,0-.077,1.289,27.9,27.9,0,0,1-.766,6.781c-.4,1.061-1.207,1.435-3.143,1.435-.383,0-.652,0-1.284-.041a9.26,9.26,0,0,0-.479-2.413l-1.073.458a20.3,20.3,0,0,0-.671-4.1Zm-2.147.229a25.187,25.187,0,0,1,.575,4.825l-2.242.687c.038-.79.038-1.06.038-1.643a20.461,20.461,0,0,0-.191-3.453Zm3.2-7.093a9.768,9.768,0,0,0-1.533.062v-2.2a11.14,11.14,0,0,0,1.533.063h1.093V7.269H702.1a9.814,9.814,0,0,0-1.226.042V6.582a12.691,12.691,0,0,1-3.028.77v.666h.92a8.549,8.549,0,0,0,1.514-.063v2.184a12.453,12.453,0,0,0-1.514-.042h-.939v.894h5.845V10.1Zm.92,6.656a8.785,8.785,0,0,1,.9,2.475l-1.456.666a9.194,9.194,0,0,0-.805-2.641Z" transform="translate(-437.899 -2.417)" fill="#fff" />
                    <path id="パス_52658" data-name="パス 52658" d="M752.751,19.642a14.92,14.92,0,0,1-6.018,3.827,10.758,10.758,0,0,0-1.725-2.766A14.075,14.075,0,0,0,750.7,18.02h-1.859c-.077.353-.1.416-.211.832l-3.047-.042a29.865,29.865,0,0,0,1.3-6.531,17.553,17.553,0,0,0,1.821.063h3.929l-.019-.832h-4.024c-.8,0-1.169.021-1.686.063V9.638c-.153.125-.153.125-.46.4a8.5,8.5,0,0,0-1.61-2.434,7.158,7.158,0,0,0,2.817-3.806l2.874.437c-.172.416-.211.458-.383.852h1.974a10.177,10.177,0,0,0,1.84-.1V6.518a5.894,5.894,0,0,0,1.322-2.7l2.913.416c-.153.395-.211.52-.345.873H760.8a14.417,14.417,0,0,0,2.146-.1V7.87a13.1,13.1,0,0,0-1.993-.1h-.939c.307.52.46.769.709,1.269.422-.021.556-.021.977-.063a11.131,11.131,0,0,0-.077,1.643v2.538a11.538,11.538,0,0,0,.077,1.622c-.5-.042-1.016-.063-1.8-.063H755.53l.019.832H760.8c.709,0,1.265-.021,1.725-.063-.077.561-.134,1.248-.192,2.371-.153,2.35-.479,3.432-1.169,3.91a5.421,5.421,0,0,1-2.779.478c-.287,0-.594-.021-1.15-.062a13.512,13.512,0,0,0-.671-2.808,18.207,18.207,0,0,0,1.935.145c.862,0,.92-.083,1.016-1.5h-3.948l.038,3.244a16.968,16.968,0,0,0,.153,2.33h-3.085a13.01,13.01,0,0,0,.1-1.872v-.478Zm-2.97-10.607a9.361,9.361,0,0,0-.556-1.29h-.632a11.316,11.316,0,0,1-1.035,1.269c.364.021.575.021,1.035.021Zm2.894,5.678h-3.181c-.077.354-.077.354-.153.832h3.354Zm1.437-5.678a10.7,10.7,0,0,0-1.226-1.29H752a11.712,11.712,0,0,1,.69,1.29Zm3.622,0c-.23-.5-.383-.791-.651-1.269h-.594a8.219,8.219,0,0,1-1.016,1.269Zm-2.242,3.307h3.3v-.833h-3.3Z" transform="translate(-472.97 -2.29)" fill="#fff" />
                    <path id="パス_52659" data-name="パス 52659" d="M802.771,6.549a11.532,11.532,0,0,0,2.3.145h2.434a17.524,17.524,0,0,0,2.376-.083c-.1,1.1-.134,1.976-.134,3.349v10.9A26.194,26.194,0,0,0,809.9,24h-4.178a25.889,25.889,0,0,0,.154-3.141V10.251h-.767a18.736,18.736,0,0,0-2.338.145Z" transform="translate(-509.759 -3.954)" fill="#fff" />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a>
        <p>〒950-0084<br>新潟市中央区明石1-7-17 ソリマチ第7ビル6F<br>
          <a class="info-tel" href="tel:+025-255-1600">Tel：025-255-1600</a><span class="pc-only">Fax：025-255-1602</span><br><a href="<?php echo home_url('/policy'); ?>"><span class="pc-only mlm"><br>プライバシーポリシー</span></a>
        </p>
      </div>
      <!-- pc -->
      <ul class="p-footer__list  pc-only">
        <li><a href="<?php echo home_url('/'); ?>">トップ</a></li>
        <li><a href="<?php echo home_url('/about/'); ?>">私たちについて</a></li>
        <li><a href="<?php echo home_url('/service/'); ?>">サービスの流れ</a></li>
        <li><a href="<?php echo home_url('/price/'); ?>">料金について</a></li>
        <li><a href="<?php echo home_url('/faq//'); ?>">よくあるご質問</a></li>
        <li><a href="<?php echo home_url('/examples//'); ?>">相談事例</a></li>
        <li><a href="<?php echo home_url('/consultations/'); ?>">無料相談のご案内</a></li>
        <li><a href="<?php echo home_url('/company/'); ?>">会社案内</a></li>
        <li>
          <ul class="p-footer__submenu-list">
            <li><a href="<?= $home_url; ?>/company/#access">アクセス</a></li>
          </ul>
        </li>
        <li class="pc"><a href="<?php echo home_url('/news/'); ?>">お知らせ</a></li>
        <li class="pc"><a href="<?php echo home_url('/contact//'); ?>">お問い合わせ</a></li>
        <li>
          <ul class="p-footer__submenu-list pc-only">
            <li>お役立ち情報</li>
            <li><a href="<?php echo home_url('/flow/'); ?>">相続手続きの流れ</a></li>
            <li><a href="<?php echo home_url('/list/'); ?>">相続手続きやることリスト</a></li>
            <li><a href="<?php echo home_url('/tax/'); ?>">相続税について</a></li>
            <li><a href="<?php echo home_url('/questions/'); ?>">相続手続きＱ＆Ａ</a></li>
          </ul>
        </li>
      </ul>
      <!-- sp -->
      <div class="ft-flex sp-only">
        <ul class="p-footer__list2">
          <li><a href="<?php echo home_url('/about/'); ?>">私たちについて</a></li>
          <li><a href="<?php echo home_url('/service/'); ?>">サービスの流れ</a></li>
          <li><a href="<?php echo home_url('/price/'); ?>">料金について</a></li>
          <li><a href="<?php echo home_url('/faq//'); ?>">よくあるご質問</a></li>
          <li><a href="<?php echo home_url('/examples/'); ?>">相談事例</a></li>
          <li><a href="<?php echo home_url('/news/'); ?>">お知らせ</a></li>
          <li><a href="<?php echo home_url('/contact/'); ?>">お問い合わせ</a></li>
          <li><a href="<?php echo home_url('/policy/'); ?>">プライバシーポリシー</a></li>
        </ul>
        <ul class="p-footer__list2">
          <li><a href="<?php echo home_url('/consultations/'); ?>">無料相談のご案内</a></li>
          <li><a href="<?php echo home_url('/company/'); ?>">会社案内</a></li>
          <li><a href="<?= $home_url; ?>/company/#access" >アクセス</a></li>
          <li>
            <ul class="p-footer__submenu-list">
              <li>お役立ち情報</li>
              <li><a href="<?php echo home_url('/flow/'); ?>">相続手続きの流れ</a></li>
              <li><a href="<?php echo home_url('/list/'); ?>">相続手続きやることリスト</a></li>
              <li><a href="<?php echo home_url('/tax/'); ?>">相続税について</a></li>
              <li><a href="<?php echo home_url('/questions/'); ?>">相続手続きＱ＆Ａ</a></li>
            </ul>
          </li>
        </ul>
    </div>

    </div>
  </div>
  <!-- common bottom -->
  <div class="l-common-bottom">
    <div class="l-common-bottom__inner">
      <div class="p-common-bottom__logo">
        <a href="https://www.sorimachigroup.jp/" target="_blank">
          <svg id="logo_0528" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175.926 62.115">
            <g id="グループ_13532" data-name="グループ 13532" transform="translate(26.139)">
              <path id="パス_38" data-name="パス 38" d="M182.357,112.815l-.812,5.631h-1.133l.811-5.631H179.4l.129-.9h4.706l-.129.9Z" transform="translate(-179.398 -111.3)" fill="#fff" />
              <path id="パス_39" data-name="パス 39" d="M192.872,110.3l-.5,3.5a2.4,2.4,0,0,1,1.336-.436,1.753,1.753,0,0,1,1.089.309.942.942,0,0,1,.421.8q0,.118-.015.269c-.01.1-.023.213-.04.34l-.341,2.365h-1.093l.346-2.416a2.325,2.325,0,0,0,.03-.351q0-.533-.732-.533-1.049,0-1.222,1.214l-.3,2.086h-1.094l1.029-7.146Z" transform="translate(-186.211 -110.298)" fill="#fff" />
              <path id="パス_40" data-name="パス 40" d="M205.875,120.732a.885.885,0,0,0,.356.723,1.649,1.649,0,0,0,2.1-.207l.816.385a2.5,2.5,0,0,1-.875.685,2.845,2.845,0,0,1-1.138.2,2.58,2.58,0,0,1-1.727-.546,1.817,1.817,0,0,1-.643-1.459,2.073,2.073,0,0,1,.708-1.6,2.54,2.54,0,0,1,1.776-.639,2.265,2.265,0,0,1,1.637.576,2.043,2.043,0,0,1,.609,1.552c0,.068-.005.178-.015.33Zm2.508-.753a1.066,1.066,0,0,0-1.192-.922,1.207,1.207,0,0,0-1.257.922Z" transform="translate(-194.623 -115.245)" fill="#fff" />
              <path id="パス_41" data-name="パス 41" d="M231.881,111.914l-.129.9H229.11l-.243,1.684h2.642l-.119.838h-2.647l-.445,3.11h-1.133l.945-6.532Z" transform="translate(-208.07 -111.3)" fill="#fff" />
              <path id="パス_42" data-name="パス 42" d="M240.443,114.675l-.574,3.985h-1.093l.574-3.985Zm.341-1.9a.449.449,0,0,1-.173.351.618.618,0,0,1-.415.148.627.627,0,0,1-.421-.152.491.491,0,0,1-.173-.368.445.445,0,0,1,.168-.351.611.611,0,0,1,.411-.148.618.618,0,0,1,.421.156A.46.46,0,0,1,240.785,112.779Z" transform="translate(-215.04 -111.514)" fill="#fff" />
              <path id="パス_43" data-name="パス 43" d="M247,118.447l-.049.343a1.774,1.774,0,0,1,1.118-.448,1.453,1.453,0,0,1,.9.309l-.7.77a1.02,1.02,0,0,0-.6-.22.9.9,0,0,0-.366.07.7.7,0,0,0-.275.22,1.261,1.261,0,0,0-.193.387,3.315,3.315,0,0,0-.122.567l-.287,1.988h-1.094l.574-3.985Z" transform="translate(-218.977 -115.287)" fill="#fff" />
              <path id="パス_44" data-name="パス 44" d="M256.985,118.845l-.618.529a1.364,1.364,0,0,0-.806-.334.694.694,0,0,0-.418.12.358.358,0,0,0-.166.3.369.369,0,0,0,.138.292,2.753,2.753,0,0,0,.579.33,2.671,2.671,0,0,1,.841.55.9.9,0,0,1,.227.639,1.079,1.079,0,0,1-.46.91,2.044,2.044,0,0,1-1.222.338,2.134,2.134,0,0,1-1.7-.791l.718-.427a1.3,1.3,0,0,0,.94.453.74.74,0,0,0,.453-.127.392.392,0,0,0,.171-.33.345.345,0,0,0-.143-.288,2.039,2.039,0,0,0-.242-.152q-.173-.1-.47-.233a2.243,2.243,0,0,1-.728-.486.935.935,0,0,1-.2-.609,1.085,1.085,0,0,1,.465-.9,1.891,1.891,0,0,1,1.182-.355A2.2,2.2,0,0,1,256.985,118.845Z" transform="translate(-223.807 -115.245)" fill="#fff" />
              <path id="パス_45" data-name="パス 45" d="M265.728,116.468l-.45,3.118h-1.094l.451-3.118h-.618l.124-.867h.618l.267-1.849h1.094l-.267,1.849h1.009l-.124.867Z" transform="translate(-230.19 -112.44)" fill="#fff" />
              <path id="パス_46" data-name="パス 46" d="M280.829,111.914h1.549a3.293,3.293,0,0,1,1.539.287,1.71,1.71,0,0,1,.683.656,1.862,1.862,0,0,1-.213,2.153,2.7,2.7,0,0,1-2.152.791H281.4l-.381,2.644h-1.133Zm1,.9-.307,2.128h.737a1.647,1.647,0,0,0,1.071-.307,1.08,1.08,0,0,0,.373-.886q0-.935-1.4-.935Z" transform="translate(-239.715 -111.3)" fill="#fff" />
              <path id="パス_47" data-name="パス 47" d="M293.253,120.732a.885.885,0,0,0,.356.723,1.649,1.649,0,0,0,2.1-.207l.816.385a2.5,2.5,0,0,1-.876.685,2.843,2.843,0,0,1-1.138.2,2.582,2.582,0,0,1-1.727-.546,1.817,1.817,0,0,1-.643-1.459,2.071,2.071,0,0,1,.708-1.6,2.539,2.539,0,0,1,1.776-.639,2.265,2.265,0,0,1,1.638.576,2.043,2.043,0,0,1,.609,1.552q0,.1-.015.33Zm2.508-.753a1.066,1.066,0,0,0-1.192-.922,1.207,1.207,0,0,0-1.257.922Z" transform="translate(-247.071 -115.245)" fill="#fff" />
              <path id="パス_48" data-name="パス 48" d="M308.012,118.461l-.049.368a2.23,2.23,0,0,1,1.311-.465,1.709,1.709,0,0,1,1.094.325,1.084,1.084,0,0,1,.4.889,5.36,5.36,0,0,1-.06.728l-.311,2.141h-1.089l.337-2.344q.02-.131.027-.232c0-.068.008-.128.008-.182q0-.542-.683-.542a1.194,1.194,0,0,0-.723.22,1.082,1.082,0,0,0-.366.423,1.43,1.43,0,0,0-.109.311c-.03.123-.056.264-.079.425l-.277,1.921h-1.094l.574-3.985Z" transform="translate(-255.6 -115.301)" fill="#fff" />
              <path id="パス_49" data-name="パス 49" d="M325.219,118.461l-.574,4.015q-.055.359-.121.626a2.6,2.6,0,0,1-.151.449,1.73,1.73,0,0,1-.515.639,2.755,2.755,0,0,1-1.722.508,2.952,2.952,0,0,1-1.771-.491,1.375,1.375,0,0,1-.485-.559,1.894,1.894,0,0,1-.139-.808H320.8a1.137,1.137,0,0,0,.336.818,1.385,1.385,0,0,0,.921.256,1.3,1.3,0,0,0,1.469-1.282l.079-.546a2.62,2.62,0,0,1-1.455.453,2.26,2.26,0,0,1-1.569-.554,1.837,1.837,0,0,1-.618-1.413,2,2,0,0,1,.718-1.578,2.648,2.648,0,0,1,1.806-.63,2.262,2.262,0,0,1,.841.131,2.3,2.3,0,0,1,.728.461l.069-.495Zm-1.257,1.891a1.091,1.091,0,0,0-.386-.872,1.486,1.486,0,0,0-1.009-.335,1.511,1.511,0,0,0-1.079.406,1.333,1.333,0,0,0-.425,1.011,1.133,1.133,0,0,0,.366.872,1.429,1.429,0,0,0,.98.326,1.587,1.587,0,0,0,1.113-.4A1.311,1.311,0,0,0,323.963,120.352Z" transform="translate(-263.639 -115.301)" fill="#fff" />
              <path id="パス_50" data-name="パス 50" d="M340.752,118.62l-.331,2.318a4.063,4.063,0,0,1-.1.516,2.271,2.271,0,0,1-.129.368,1.311,1.311,0,0,1-.465.5,2.573,2.573,0,0,1-1.46.373,2.28,2.28,0,0,1-1.375-.377,1.2,1.2,0,0,1-.514-1.019c0-.065,0-.141.012-.229s.02-.188.037-.3l.307-2.153h1.094l-.322,2.238c-.013.1-.023.18-.03.252s-.01.132-.01.18q0,.631.866.63a.989.989,0,0,0,.692-.207,1.213,1.213,0,0,0,.3-.728l.341-2.365Z" transform="translate(-273.625 -115.46)" fill="#fff" />
              <path id="パス_51" data-name="パス 51" d="M351.376,114.675l-.574,3.985h-1.093l.574-3.985Zm.341-1.9a.449.449,0,0,1-.173.351.618.618,0,0,1-.415.148.627.627,0,0,1-.421-.152.491.491,0,0,1-.173-.368.445.445,0,0,1,.168-.351.612.612,0,0,1,.411-.148.618.618,0,0,1,.42.156A.46.46,0,0,1,351.718,112.779Z" transform="translate(-281.627 -111.514)" fill="#fff" />
              <path id="パス_52" data-name="パス 52" d="M357.932,118.461l-.049.368a2.23,2.23,0,0,1,1.311-.465,1.709,1.709,0,0,1,1.094.325,1.084,1.084,0,0,1,.4.889,5.351,5.351,0,0,1-.06.728l-.312,2.141h-1.089l.337-2.344q.02-.131.027-.232c0-.068.008-.128.008-.182q0-.542-.683-.542a1.194,1.194,0,0,0-.723.22,1.082,1.082,0,0,0-.366.423,1.433,1.433,0,0,0-.109.311c-.03.123-.056.264-.079.425l-.277,1.921h-1.094l.574-3.985Z" transform="translate(-285.565 -115.301)" fill="#fff" />
              <path id="パス_53" data-name="パス 53" d="M384.972,112.283l-.153,1.058a3.5,3.5,0,0,0-2.37-.863,2.672,2.672,0,0,0-1.96.736,2.545,2.545,0,0,0-.752,1.908,2.139,2.139,0,0,0,.722,1.718,3.032,3.032,0,0,0,2.029.613,3.321,3.321,0,0,0,1.93-.575l-.163,1.146a6.533,6.533,0,0,1-1.965.334,3.881,3.881,0,0,1-2.677-.9,3.01,3.01,0,0,1-1.014-2.377,3.279,3.279,0,0,1,1.079-2.513,3.861,3.861,0,0,1,2.722-1A5.236,5.236,0,0,1,384.972,112.283Z" transform="translate(-298.968 -111.086)" fill="#fff" />
              <path id="パス_54" data-name="パス 54" d="M399.678,120.36a1.928,1.928,0,0,1-.742,1.536,2.729,2.729,0,0,1-1.821.622,2.822,2.822,0,0,1-1.85-.588,1.855,1.855,0,0,1-.723-1.5,1.911,1.911,0,0,1,.748-1.54,2.863,2.863,0,0,1,1.88-.618,2.718,2.718,0,0,1,1.806.584A1.848,1.848,0,0,1,399.678,120.36Zm-1.1-.047a1.134,1.134,0,0,0-.391-.91,1.487,1.487,0,0,0-1.025-.347,1.572,1.572,0,0,0-1.089.385,1.262,1.262,0,0,0-.431.977,1.21,1.21,0,0,0,.406.952,1.5,1.5,0,0,0,1.049.368,1.463,1.463,0,0,0,1.059-.4A1.346,1.346,0,0,0,398.575,120.313Z" transform="translate(-308.538 -115.245)" fill="#fff" />
              <path id="パス_55" data-name="パス 55" d="M411.469,118.454l-.05.372a1.916,1.916,0,0,1,1.282-.474,1.351,1.351,0,0,1,.678.139,1.138,1.138,0,0,1,.426.5,2.183,2.183,0,0,1,1.494-.63q1.385,0,1.385,1.087a2.978,2.978,0,0,1-.022.309q-.022.2-.062.491l-.317,2.2H415.19l.337-2.306a3.885,3.885,0,0,0,.045-.474q0-.521-.614-.521a1.3,1.3,0,0,0-.421.062.772.772,0,0,0-.3.19,1.011,1.011,0,0,0-.208.334,2.294,2.294,0,0,0-.126.489l-.317,2.225h-1.093l.341-2.365a3.886,3.886,0,0,0,.044-.44q0-.5-.628-.5-.911,0-1.064,1.079l-.322,2.221h-1.094l.574-3.985Z" transform="translate(-317.677 -115.294)" fill="#fff" />
              <path id="パス_56" data-name="パス 56" d="M431.058,118.461l-.059.419a2.485,2.485,0,0,1,1.489-.516,2.234,2.234,0,0,1,1.549.554,1.8,1.8,0,0,1,.619,1.4,2.056,2.056,0,0,1-.708,1.582,2.5,2.5,0,0,1-1.746.639,2.28,2.28,0,0,1-.876-.144,2.533,2.533,0,0,1-.757-.52l-.411,2.851h-1.094l.9-6.265Zm2.5,1.9a1.143,1.143,0,0,0-.356-.867,1.259,1.259,0,0,0-.91-.343,1.567,1.567,0,0,0-1.109.415,1.339,1.339,0,0,0-.445,1.02,1.062,1.062,0,0,0,.376.85,1.414,1.414,0,0,0,.969.33,1.461,1.461,0,0,0,1.049-.406A1.344,1.344,0,0,0,433.562,120.356Z" transform="translate(-329.26 -115.301)" fill="#fff" />
              <path id="パス_57" data-name="パス 57" d="M450.555,118.461l-.574,3.985h-1.093l.064-.431a2.4,2.4,0,0,1-1.455.524,2.141,2.141,0,0,1-1.509-.537,1.8,1.8,0,0,1-.584-1.392,2.121,2.121,0,0,1,.668-1.616,2.449,2.449,0,0,1,1.737-.63,2.309,2.309,0,0,1,.851.139,2.376,2.376,0,0,1,.728.482l.074-.524Zm-1.331,1.878a1.115,1.115,0,0,0-.356-.859,1.291,1.291,0,0,0-.92-.335,1.408,1.408,0,0,0-1.029.411,1.379,1.379,0,0,0-.415,1.015,1.139,1.139,0,0,0,.346.859,1.228,1.228,0,0,0,.891.334,1.464,1.464,0,0,0,1.044-.419A1.358,1.358,0,0,0,449.224,120.34Z" transform="translate(-339.068 -115.301)" fill="#fff" />
              <path id="パス_58" data-name="パス 58" d="M462.341,118.461l-.05.368a2.232,2.232,0,0,1,1.312-.465,1.709,1.709,0,0,1,1.093.325,1.084,1.084,0,0,1,.4.889,5.351,5.351,0,0,1-.06.728l-.312,2.141h-1.088l.336-2.344q.02-.131.027-.232c0-.068.007-.128.007-.182q0-.542-.683-.542a1.193,1.193,0,0,0-.722.22,1.079,1.079,0,0,0-.366.423,1.411,1.411,0,0,0-.109.311c-.03.123-.056.264-.079.425l-.277,1.921h-1.094l.574-3.985Z" transform="translate(-348.236 -115.301)" fill="#fff" />
              <path id="パス_59" data-name="パス 59" d="M479.08,118.62l-4.221,6.265h-1.247l1.875-2.775-1.668-3.49h1.168l1.153,2.547,1.687-2.547Z" transform="translate(-356 -115.46)" fill="#fff" />
            </g>
            <g id="グループ_13533" data-name="グループ 13533" transform="translate(61.036 56.231)">
              <path id="パス_60" data-name="パス 60" d="M269.257,259.446l-.7,4.88h-.982l.7-4.88h-1.582l.111-.781h4.078l-.112.781Z" transform="translate(-266.693 -258.551)" fill="#fff" />
              <path id="パス_61" data-name="パス 61" d="M281.076,258.665l-.112.781h-2.432l-.21,1.467h2.432l-.1.726H278.22l-.274,1.906h2.431l-.116.781h-3.409l.815-5.661Z" transform="translate(-272.791 -258.551)" fill="#fff" />
              <path id="パス_62" data-name="パス 62" d="M294.218,258.985l-.133.917a3.03,3.03,0,0,0-2.054-.748,2.317,2.317,0,0,0-1.7.638,2.2,2.2,0,0,0-.652,1.654,1.853,1.853,0,0,0,.626,1.489,2.626,2.626,0,0,0,1.758.531,2.881,2.881,0,0,0,1.673-.5l-.142.994a5.661,5.661,0,0,1-1.7.289,3.364,3.364,0,0,1-2.32-.781,2.609,2.609,0,0,1-.879-2.061,2.842,2.842,0,0,1,.935-2.178,3.349,3.349,0,0,1,2.359-.865A4.541,4.541,0,0,1,294.218,258.985Z" transform="translate(-279.9 -258.366)" fill="#fff" />
              <path id="パス_63" data-name="パス 63" d="M309.2,258.665l-.815,5.661h-.982l.4-2.765h-2.736l-.395,2.765h-.982l.815-5.661h.977l-.317,2.218H307.9l.317-2.218Z" transform="translate(-288.902 -258.551)" fill="#fff" />
              <path id="パス_64" data-name="パス 64" d="M329.852,261.508h2.65a3.23,3.23,0,0,1-.54,1.58,2.842,2.842,0,0,1-2.47,1.162,3.286,3.286,0,0,1-2.273-.8,2.6,2.6,0,0,1-.892-2.031,3.007,3.007,0,0,1,.3-1.309,2.876,2.876,0,0,1,.841-1.041,3.529,3.529,0,0,1,2.243-.707,3.572,3.572,0,0,1,2.714,1.14l-.639.557a2.673,2.673,0,0,0-2.093-.909,2.4,2.4,0,0,0-1.72.627,2.147,2.147,0,0,0-.664,1.624,1.931,1.931,0,0,0,.622,1.485,2.284,2.284,0,0,0,1.617.576,2.121,2.121,0,0,0,1.2-.33,1.479,1.479,0,0,0,.635-.9h-1.643Z" transform="translate(-302.488 -258.366)" fill="#fff" />
              <path id="パス_65" data-name="パス 65" d="M346.011,261.939l1.664,2.387h-1.037L345.068,262h-.356l-.335,2.328h-.982l.815-5.661h1.3a4.1,4.1,0,0,1,1.008.1,1.533,1.533,0,0,1,1.162,1.511Q347.679,261.591,346.011,261.939Zm-.935-2.493-.257,1.819h.45a2.53,2.53,0,0,0,.742-.081.96.96,0,0,0,.437-.275.932.932,0,0,0,.24-.638.705.705,0,0,0-.289-.627,1.642,1.642,0,0,0-.911-.2Z" transform="translate(-312.733 -258.551)" fill="#fff" />
              <path id="パス_66" data-name="パス 66" d="M362.673,261.2a2.829,2.829,0,0,1-.6,1.756,3.114,3.114,0,0,1-1.244.957,4.178,4.178,0,0,1-1.7.337,3.584,3.584,0,0,1-2.427-.81,2.8,2.8,0,0,1,.056-4.231,3.775,3.775,0,0,1,2.521-.843,3.706,3.706,0,0,1,2.457.781A2.539,2.539,0,0,1,362.673,261.2Zm-.986-.007a1.867,1.867,0,0,0-.644-1.485,2.558,2.558,0,0,0-1.728-.554,2.748,2.748,0,0,0-1.831.624,2.038,2.038,0,0,0-.052,3.087,2.509,2.509,0,0,0,1.724.6,2.6,2.6,0,0,0,1.806-.649A2.076,2.076,0,0,0,361.687,261.193Z" transform="translate(-320.158 -258.366)" fill="#fff" />
              <path id="パス_67" data-name="パス 67" d="M380.416,258.665l-.48,3.351a3.169,3.169,0,0,1-.609,1.621,2.535,2.535,0,0,1-1.99.8,2.7,2.7,0,0,1-1.7-.528,1.631,1.631,0,0,1-.678-1.327q0-.169.015-.355c.01-.125.025-.257.045-.4l.454-3.164h.978l-.468,3.271c-.014.1-.025.188-.032.271s-.011.16-.011.231a1.128,1.128,0,0,0,.369.891,1.75,1.75,0,0,0,2.144-.084,2.494,2.494,0,0,0,.523-1.346l.463-3.234Z" transform="translate(-331.678 -258.551)" fill="#fff" />
              <path id="パス_68" data-name="パス 68" d="M390.056,258.665H391.4a2.858,2.858,0,0,1,1.334.249,1.482,1.482,0,0,1,.592.569,1.615,1.615,0,0,1-.184,1.866,2.336,2.336,0,0,1-1.866.686h-.725l-.33,2.291h-.982Zm.866.781-.266,1.845h.639a1.432,1.432,0,0,0,.929-.266.938.938,0,0,0,.323-.768q0-.81-1.209-.81Z" transform="translate(-340.25 -258.551)" fill="#fff" />
            </g>
            <g id="グループ_13534" data-name="グループ 13534" transform="translate(0 16.762)">
              <g id="グループ_9" data-name="グループ 9" transform="translate(58.642 0.129)">
                <g id="グループ_8" data-name="グループ 8">
                  <path id="パス_69" data-name="パス 69" d="M270.849,154.777H261.43a.707.707,0,0,0-.725.689v16.553a.707.707,0,0,0,.725.689h9.4l0,0c.006,0,.01,0,.016,0a.707.707,0,0,0,.724-.689V155.465A.707.707,0,0,0,270.849,154.777Z" transform="translate(-260.705 -154.777)" fill="#fff" />
                  <path id="パス_70" data-name="パス 70" d="M320.238,154.777h-9.419a.707.707,0,0,0-.725.689v31.22a.707.707,0,0,0,.725.689h9.4l0,0c.006,0,.01,0,.016,0a.707.707,0,0,0,.725-.689v-31.22A.707.707,0,0,0,320.238,154.777Z" transform="translate(-290.351 -154.777)" fill="#fff" />
                </g>
                <path id="パス_71" data-name="パス 71" d="M390.411,155.465a.707.707,0,0,0-.725-.689H352.633a.707.707,0,0,0-.724.689v8.945a.707.707,0,0,0,.721.688l0,0H373.56a.706.706,0,0,1,.716.687.657.657,0,0,1-.057.268h0l-1.652,3.924h0a.727.727,0,0,1-.668.42h-9.785a.707.707,0,0,0-.725.688.657.657,0,0,0,.049.232l0,.006,6.19,15.6,0,0a.719.719,0,0,0,.673.447H378.55a.707.707,0,0,0,.725-.689.647.647,0,0,0-.046-.216l.006-.008-.017-.042v0l-4.149-10.455h0a.662.662,0,0,1-.046-.241.707.707,0,0,1,.721-.687h6l.006,0a.726.726,0,0,0,.662-.422l0,0,7.94-18.865,0,0A.655.655,0,0,0,390.411,155.465Z" transform="translate(-315.45 -154.777)" fill="#fff" />
                <path id="パス_72" data-name="パス 72" d="M498.762,155.465a.707.707,0,0,0-.725-.689h-35.4a.707.707,0,0,0-.725.689v8.948a.707.707,0,0,0,.725.689h11.431a.7.7,0,0,1,.711.685h0v.637a.706.706,0,0,1-.723.679v0H462.635a.707.707,0,0,0-.725.689v8.948a.707.707,0,0,0,.725.688h10.351a.634.634,0,0,1,.65.617.591.591,0,0,1-.046.227h0l-3.231,8.141v0l-.017.042.006.008a.644.644,0,0,0-.046.216.707.707,0,0,0,.725.689h10.247a.719.719,0,0,0,.673-.447l0,0,3.611-9.1h0a.65.65,0,0,1,.606-.4h11.866a.707.707,0,0,0,.725-.688v-8.93l0,0c0-.005,0-.01,0-.015a.707.707,0,0,0-.725-.689h-11.67v0a.706.706,0,0,1-.721-.67v-.649a.7.7,0,0,1,.71-.683h11.681a.708.708,0,0,0,.725-.689v-8.93l0,0C498.759,155.475,498.762,155.471,498.762,155.465Z" transform="translate(-381.478 -154.777)" fill="#fff" />
              </g>
              <g id="グループ_11" data-name="グループ 11">
                <path id="パス_73" data-name="パス 73" d="M234.063,154.519l-9.8,7.644,3.327-7.644Z" transform="translate(-180.19 -154.488)" fill="#f99900" />
                <g id="グループ_10" data-name="グループ 10">
                  <path id="パス_74" data-name="パス 74" d="M132.475,170.813a.646.646,0,0,0-.05-.235l.006-.008-6.811-15.716-.006,0a.725.725,0,0,0-.663-.414H114.733a.707.707,0,0,0-.724.688.642.642,0,0,0,.049.231l-.006.008,6.806,15.7,0,0a.723.723,0,0,0,.67.43H131.75A.707.707,0,0,0,132.475,170.813Z" transform="translate(-114.009 -154.436)" fill="#fff" />
                  <path id="パス_75" data-name="パス 75" d="M181.124,155.355a.65.65,0,0,0,.049-.231.707.707,0,0,0-.724-.688H165.21a.726.726,0,0,0-.664.414l-.006,0-13.5,31.242a1.27,1.27,0,0,0-.044.242.707.707,0,0,0,.724.689l24.779-.02-7.573-3.4,12.2-28.24Z" transform="translate(-136.212 -154.436)" fill="#fff" />
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>
      <div class="p-common-bottom__container">
        <div class="p-common-bottom__container-head">
          <a href="https://www.sorimachigroup.jp/" target="_blank" rel="noopener noreferrer">ソリマチテックグループ</a>
          <a href="https://www.sorimachigroup.jp/5Tech/" target="_blank" rel="noopener noreferrer">5Techとは？</a>
        </div>
        <div class="p-common-bottom__content">
          <p>AccounTech</p>
          <ul>
            <li><a href="https://www.sorimachi.co.jp/" target="_blank" rel="noopener noreferrer">ソリマチ株式会社</a></li>
            <li><a href="https://www.sorimachi.co.jp/support-center/" target="_blank" rel="noopener noreferrer">キャリアサクセス株式会社</a></li>
            <li><a href="https://sorimachi.vn/" target="_blank" rel="noopener noreferrer">ソリマチベトナム有限会社</a></li>
          </ul>
        </div>
        <div class="p-common-bottom__content">
          <p>AgriTech</p>
          <ul>
            <li><a href="https://sorimachi.vn/" target="_blank" rel="noopener noreferrer">ソリマチベトナム有限会社</a></li>
            <li><a href="https://sorimachi.vn/" target="_blank" rel="noopener noreferrer">会計バンクベトナム有限会社</a></li>
            <li><a href="https://www.sorimachi.co.jp/" target="_blank" rel="noopener noreferrer">ソリマチ株式会社</a></li>
            <li><a href="https://nougyorieki-lab.or.jp/" target="_blank" rel="noopener noreferrer">一般社団法人 農業利益創造研究所</a></li>
          </ul>
        </div>
        <div class="p-common-bottom__content">
          <p>AreaTech</p>
          <ul>
            <li><a href="https://www.sorimachi-keiei.co.jp/" target="_blank" rel="noopener noreferrer">株式会社ソリマチ経営</a></li>
            <li><a href="https://www.sorimachi-keiei.co.jp/" target="_blank" rel="noopener noreferrer">税理士法人ソリマチ会計</a></li>
            <li><a href="https://www.sorimachi-keiei.co.jp/" target="_blank" rel="noopener noreferrer">社会保険労務士法人ソリマチ会計</a></li>
            <li><a href="https://www.sozoku-tetsuzuki.jp/" target="_blank" rel="noopener noreferrer">相続手続支援センター新潟第１</a></li>
            <li><a class="link-none" href="" target="_blank" rel="noopener noreferrer">第一労働社会保険管理事務協会</a></li>
          </ul>
        </div>
        <div class="p-common-bottom__content">
          <p>FinTech</p>
          <ul>
            <li><a href="https://www.kaikei-bank.com/" target="_blank" rel="noopener noreferrer">会計バンク株式会社</a></li>
          </ul>
        </div>
        <div class="p-common-bottom__content">
          <p>HumanTech</p>
          <ul>
            <li><a href="http://www.s-giken.co.jp/" target="_blank" rel="noopener noreferrer">株式会社ソリマチ技研</a></li>
            <li><a href="http://www.s-giken.co.jp/" target="_blank" rel="noopener noreferrer">株式会社ソリマチ技研サポートセンター</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="l-common-copyright">
    <p>&copy; Sorimachi Co.,Ltd.</p>
  </div>
  <!-- /common bottom -->

</footer>
<!-- /footer -->