.js-accordionC {
  .trigger {
    position: relative;
    padding: 1.5rem 1rem 1.5rem 3rem;
    cursor: pointer;
    border: 1px solid var(--border_color) !important;
    transition: var(--transition);

    @media (--mobile) {
      padding-left: 2rem;
    }

    & > .e-con-inner {
      display: flex;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
      column-gap: 1rem;
      align-items: center !important;

      & > .flex {
        & > .e-con-inner {
          display: block;

          @media (--mobile) {
            column-gap: 1.5rem;
          }
        }
      }
    }

    .q-icon {
      font-size: 1.8rem;

      & > .elementor-widget-container {
        margin-bottom: 0.5rem;
        line-height: 1.3;
        color: var(--border_color);
      }
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .inner {
    padding: 3rem;
    background: #f4f4f4 !important;

    @media (--mobile) {
      padding: 2rem;
    }

    & > .e-con-inner {
      display: flex;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
      column-gap: 2rem;

      @media (--mobile) {
        column-gap: 1.5rem;
        align-items: flex-start !important;
      }
    }

    .a-icon {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      width: 5.7rem;
      font-size: 2rem;
      font-weight: bold;
      border-right: 1px solid #c6c6c6;

      @media (--mobile) {
        width: 4rem;
      }
    }
  }
}
