<?php include_once('header.php'); ?>

<?php include( get_template_directory().'/module/mv.php' ); ?>
<%- include( '../assets/ejs/elements/breadcrumb.ejs' ); %>

<div class="c-content">
  <?php
    $page = get_page_by_path('notfound');

    $args = array(
      'post_type' => 'page',
      'post__in' => [$page->ID],
    );

    $the_query = new WP_Query($args); if($the_query->have_posts()):
      while ($the_query->have_posts()): $the_query->the_post();
        the_content();
      endwhile;
    endif;
    wp_reset_postdata();
  ?>
</div>

<?php include_once('footer.php'); ?>
