<?php include_once('header.php'); ?>

<?php include( get_template_directory().'/module/mv.php' ); ?>
<%- include( '../assets/ejs/elements/breadcrumb.ejs' ); %>

<div class="c-inner">
  <?php include( get_template_directory().'/archive-separate/c-sidebarArea.php' ); ?>
    <div>
      <?php include( get_template_directory().'/archive-separate/c-cat.php' ); ?>
      <?php include( get_template_directory().'/archive-separate/c-archive.php' ); ?>
      <?php include( get_template_directory().'/archive-separate/c-pagenav.php' ); ?>
    </div>
  <?php if(!empty($post_side_cat) || !empty($post_side_month)): ?>
  </div>
  <?php endif; ?>
</div>

<?php include_once('footer.php'); ?>