<?php include_once('header.php'); ?>

<!-- main -->
<main>

  <!-- fv -->
  <section class="l-fv">
    <div class="p-fv__main">
      <picture>
        <source srcset="<?= $directory_uri ?>/common/images/top/img-fv-main-sp.png" media="(max-width: 767px)">
        <img src="<?= $directory_uri ?>/common/images/top/img-fv-main-pc.png" alt="">
      </picture>
    </div>
    <div class="p-fv__bg-road">
      <div class="p-fv__bg-road-img">
        <picture>
          <source srcset="<?= $directory_uri ?>/common/images/top/img-fv-bg-sp.png" media="(max-width: 767px)">
          <img src="<?= $directory_uri ?>/common/images/top/img-fv-bg-pc.png" alt="">
        </picture>
      </div>
      <div class="p-fv__bg-people people-01 js-walk">
        <img class="l-fv__img-01" src="<?= $directory_uri ?>/common/images/top/ic-fv-img01.svg" alt="若い夫婦">
      </div>
      <div class="p-fv__bg-people people-02 js-walk">
        <img class="l-fv__img-02" src="<?= $directory_uri ?>/common/images/top/ic-fv-img02.svg" alt="大家族">
      </div>
      <div class="p-fv__bg-people people-03 js-walk">
        <img class="l-fv__img-03" src="<?= $directory_uri ?>/common/images/top/ic-fv-img03.svg" alt="老夫婦">
      </div>
    </div>
    <h2 class="p-fv__title js-fvTitle">
      <picture>
        <source srcset="<?= $directory_uri ?>/common/images/top/img-fv-title-sp.svg" media="max-width: 767px">
        <img src="<?= $directory_uri ?>/common/images/top/img-fv-title-pc.svg" alt="">
      </picture>
    </h2>
  </section><!-- /fv -->

  <!-- about -->
  <section class="l-top-about">
    <div class="l-top-about__inner l-inner">
      <div class="p-top-about__content">
        <h3 class="p-top-about__title ">新潟の相続税のことなら<br class="sp-only">お任せください！</h3>
        <p class="p-top-about__text">「相続税」は、以前は資産がある家だけの話だと思われていました。<br>
          しかし近年の相続税の改正で、より多くの人にとって関係のある税になりました。<br><br>

          にもかかわらず、相続というのは一生でもなかなか経験しない出来事なので、どのように手続きすればよいかわからないという方がほとんどです。<br>
          また税理士が相続税についての実績が豊富かどうかも気になるところではないでしょうか。<br><br>

          相続手続支援センター新潟第１では、新潟在住の専門性の高いスタッフが、相続税に関わる小さなことから大きなことまで、みなさまのご家族に合わせて細やかにホットにサポートいたします。</p>
        <div class="l-top-about__button">
          <a href="<?php $home_url; ?>/about/" class="p-top-about__button c-button__arrow">私たちについて</a>
        </div>
      </div>
      <div class="p-top-about__img js-slideUp">
        <picture>
          <source srcset="<?= $directory_uri ?>/common/images/top/img-top-peoples-sp.jpg" media="(max-width: 767px)">
          <img src="<?= $directory_uri ?>/common/images/top/img-top-peoples-pc.jpg" alt="">
        </picture>
      </div>
    </div>
  </section>
  <!-- /about -->

  <!-- consultations -->
  <section class="l-top-consultations">
    <div class="p-top-consultations__head-img">
      <picture>
        <source srcset="<?= $directory_uri ?>/common/images/top/img-section-head-sp.jpg" media="(max-width: 767px)">
        <img src="<?= $directory_uri ?>/common/images/top/img-section-head-pc.jpg" alt="相続のことならお任せください！">
      </picture>
    </div>
    <div class="l-top-consultations__inner">
      <h3 class="p-top-consultations__title js-titleUp">相続のことなら<br class="sp-only">お任せください！</h3>
      <div class="p-top-consultations__items">
        <div class="c-consultations__item">
          <img class="c-consultations__item-img" src="<?= $directory_uri ?>/common/images/top/ic-cloud-img01.svg" width="186" height="138" alt="無料相談">
          <p class="c-consultations__item-title">無料相談</p>
          <p class="c-consultations__item-text">相続が発生した際に何をしなければなら<br class="pc">ないかを無料相談にて調査いたします。</p>
        </div>
        <div class="c-consultations__item">
          <img class="c-consultations__item-img" src="<?= $directory_uri ?>/common/images/top/ic-cloud-img02.svg" width="166" height="134" alt="相続人確認">
          <p class="c-consultations__item-title">相続人確認</p>
          <p class="c-consultations__item-text">誰が相続人となるのかを<br class="pc">お伝えいたします。</p>
        </div>
        <div class="c-consultations__item">
          <img class="c-consultations__item-img" src="<?= $directory_uri ?>/common/images/top/ic-cloud-img03.svg" width="178" height="130" alt="プロにすべてお任せ">
          <p class="c-consultations__item-title">プロに<br class="sp-only">すべてお任せ</p>
          <p class="c-consultations__item-text">必要な手続きを行政書士や税理士などの<br class="pc">各専門家と多面的に検討いたします。</p>
        </div>
        <div class="c-consultations__item">
          <img class="c-consultations__item-img" src="<?= $directory_uri ?>/common/images/top/ic-cloud-img04.svg" width="182" height="136" alt="事前に費用が分かる">
          <p class="c-consultations__item-title">事前に<br class="sp-only">費用が分かる</p>
          <p class="c-consultations__item-text">専門的な手続きにはいくら費用が<br class="pc">かかるのかを事前にお知らせします！</p>
        </div>
        <div class="c-consultations__item">
          <img class="c-consultations__item-img" src="<?= $directory_uri ?>/common/images/top/ic-cloud-img05.svg" width="196" height="134" alt="素早い対応">
          <p class="c-consultations__item-title">素早い対応</p>
          <p class="c-consultations__item-text">各専門家とともに迅速で正確に<br class="pc">相続の手続きをおこないます。</p>
        </div>
        <div class="c-consultations__item">
          <img class="c-consultations__item-img" src="<?= $directory_uri ?>/common/images/top/ic-cloud-img06.svg" width="166" height="138" alt="何でも相談">
          <p class="c-consultations__item-title">何でも相談</p>
          <p class="c-consultations__item-text">相続のホームドクターとして税務・法務・<br class="pc">年金などに関する様々な相談にのります。</p>
        </div>
      </div>
    </div>
    <div class="p-top-consultations-wrap">
      <div class="p-consultations-wrap__content">
        <p class="p-consultations-content__subtitle">相続のご相談はお気軽に</p>
        <p class="p-consultations-content__title">無料で相談できます！</p>
        <p class="p-consultations-content__text">ソリマチ経営が運営している「相続手続支援センター新潟第１」では、相談時間はおおむね1時間、無料でご相談いただけます。</p>
      </div>
      <div class="p-consultations-wrap__cards">
        <a href="/consultations/" class="c-consultations-card__gray">
          <p class="c-card__gray-text">無料相談についてはこちら</p>
          <p class="c-card__gray-subtext">CONSULTATION</p>
        </a>
        <a href="tel:+025-255-1600" class="c-consultations-card__yellow c-card-tel">
          <p class="c-card-tel__text">電話で予約する</p>
          <p class="c-card-tel__number">025-255-1600</p>
          <p class="c-card-tel__subtext">【受付時間】9:00〜18:00(土日祝を除く)</p>
        </a>
        <a href="<?php echo home_url('/contact/'); ?>" class="c-consultations-card__yellow c-card-calendar">
          <p class="c-card-calendar__text">ネットで予約する</p>
          <p class="c-card-calendar__subtext">ネットで簡単予約、24時間受付中！</p>
        </a>
      </div>
    </div>
  </section>
  <!-- /consultations -->

  <!-- service -->
  <section class="l-top-service">
    <div class="l-top-service__inner l-inner">
      <div class="p-top-service__container">
        <h3 class="p-top-service__title section-title js-titleUp">サービスについて<span>SERVICE</span></h3>
        <picture class="p-top-service__img  js-slideUp">
          <source srcset="<?= $directory_uri ?>/common/images/top/img-top-service-sp.jpg" media="(max-width: 767px)">
          <img src="<?= $directory_uri ?>/common/images/top/img-top-service-pc.jpg" alt="">
        </picture>
        <p class="p-top-service__text">ヒアリングから書類の収集のお手伝い、相続税申告書の作成・提出まで。相続税に関わる必要なサービスを適正な料金でご提供いたします。</p>
        <div class="p-top-service__btn-wrap">
          <a href="<?php echo home_url('/flows/'); ?>" class="p-top-service__button c-button__arrow btn-1">サービスの流れ</a>
          <a href="<?php echo home_url('/faq/'); ?>" class="p-top-service__button c-button__arrow btn-2">よくあるご質問</a>
          <a href="<?php echo home_url('/price/'); ?>" class="p-top-service__button c-button__arrow btn-3">料金</a>
          <a href="<?php echo home_url('/examples/'); ?>" class="p-top-service__button c-button__arrow btn-4">相談事例</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /service -->

  <!-- solve -->
  <section class="l-top-solve">
    <div class="l-top-solve__inner l-inner">
      <h3 class="p-top-solve__title section-title js-titleUp">相続お悩み解決<span>SOLVE PROBLEMS</span></h3>
      <div class="p-top-solve__cards">
        <a href="<?php echo home_url('/flows/'); ?>" class="c-solve__card js-rotate">
          <img src="<?= $directory_uri ?>/common/images/top/ic-solve-img01.svg" alt="">
          <p>相続手続きの流れ</p>
          <div class="c-solve__card__arrow">
            <span>MORE</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.549 15.04">
              <g id="グループ_13871" data-name="グループ 13871" transform="translate(1 1.414)">
                <g id="グループ_13032" data-name="グループ 13032">
                  <line id="線_59" data-name="線 59" x2="10.548" transform="translate(0 6.105)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-width="2" />
                  <path id="パス_6964" data-name="パス 6964" d="M1068.5,2662.16l6.106,6.106-6.106,6.106" transform="translate(-1064.058 -2662.16)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
              </g>
            </svg>
          </div>
        </a>
        <a href="<?php echo home_url('/list/'); ?>" class="c-solve__card js-rotate">
          <img src="<?= $directory_uri ?>/common/images/top/ic-solve-img02.svg" alt="">
          <p>相続手続き<br>やることリスト</p>
          <div class="c-solve__card__arrow">
            <span>MORE</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.549 15.04">
              <g id="グループ_13871" data-name="グループ 13871" transform="translate(1 1.414)">
                <g id="グループ_13032" data-name="グループ 13032">
                  <line id="線_59" data-name="線 59" x2="10.548" transform="translate(0 6.105)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-width="2" />
                  <path id="パス_6964" data-name="パス 6964" d="M1068.5,2662.16l6.106,6.106-6.106,6.106" transform="translate(-1064.058 -2662.16)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
              </g>
            </svg>
          </div>
        </a>
        <a href="<?php echo home_url('/tax/'); ?>" class="c-solve__card js-rotate">
          <img src="<?= $directory_uri ?>/common/images/top/ic-solve-img03.svg" alt="">
          <p>相続税について</p>
          <div class="c-solve__card__arrow">
            <span>MORE</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.549 15.04">
              <g id="グループ_13871" data-name="グループ 13871" transform="translate(1 1.414)">
                <g id="グループ_13032" data-name="グループ 13032">
                  <line id="線_59" data-name="線 59" x2="10.548" transform="translate(0 6.105)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-width="2" />
                  <path id="パス_6964" data-name="パス 6964" d="M1068.5,2662.16l6.106,6.106-6.106,6.106" transform="translate(-1064.058 -2662.16)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
              </g>
            </svg>
          </div>
        </a>
        <a href="<?php echo home_url('/questions/'); ?>" class="c-solve__card js-rotate">
          <img src="<?= $directory_uri ?>/common/images/top/ic-solve-img04.svg" alt="">
          <p>相続手続きＱ＆Ａ</p>
          <div class="c-solve__card__arrow">
            <span>MORE</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.549 15.04">
              <g id="グループ_13871" data-name="グループ 13871" transform="translate(1 1.414)">
                <g id="グループ_13032" data-name="グループ 13032">
                  <line id="線_59" data-name="線 59" x2="10.548" transform="translate(0 6.105)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-width="2" />
                  <path id="パス_6964" data-name="パス 6964" d="M1068.5,2662.16l6.106,6.106-6.106,6.106" transform="translate(-1064.058 -2662.16)" fill="none" stroke="#F99902" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
              </g>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- /solve -->

  <!-- news -->
  <section class="l-top-news">
    <h3 class="p-top-news__title section-title js-titleUp sp-only m-auto">お知らせ<span>NEWS</span></h3>
    <div class="l-top-news__inner l-inner">
      <div class="p-top-news__container left  btrv">
        <h3 class="p-top-news__title section-title js-titleUp pc-only">お知らせ<span>NEWS</span></h3>
        <div class="p-top-news__btn-wrap">
          <a href="<?php echo home_url('/news/'); ?>" class="p-top-news__button c-button__arrow btn-1">もっと見る</a>
        </div>
      </div>
      <div class="p-top-news__container.right">
        <?php
          $args = array(
            'post_type'      => 'news',
            'posts_per_page' => 3,
            'post_status'    => 'publish',
            'orderby'        => 'date',
            'paged'          => $paged
          );
          $query = new WP_Query( $args );
            if ( $query->have_posts() ) :
        ?>
        <ul class="news-list">
          <?php while ( $query->have_posts() ) : $query->the_post(); ?>
          <li>
            <a href="<?php the_permalink(); ?>">
              <div class="rt">
                <p><?php echo get_the_date('Y.m.d'); ?></p>
                <?php
                  // カスタムタクソノミーのカテゴリを表示
                  $terms = get_the_terms(get_the_ID(), 'news-cat');
                  $terms = json_decode(json_encode($terms), true);
                ?>
                <p class="news-list__title"><?php echo $terms[0]['name']; ?></p>
              </div>
              <span><?php the_title() ?></span>
            </a>
          </li>
          <?php endwhile; ?>
        </ul>
        <?php endif; ?>
      </div>
    </div>
  </section>
  <!-- /news -->

  <!-- contact -->
  <section class="l-top-contact">
    <div class="l-top-contact__bg">
      <img src="<?= $directory_uri ?>/common/images/top/img-contact-bg-pc.png" alt="">
    </div>
    <div class="l-inner l-top-contact__inner">
      <h3 class="p-top-contact__title section-title js-titleUp">お問い合わせ<span>CONTACT</span></h3>
      <div class="p-contact-wrap__cards">
        <a href="tel:+025-255-1600" class="c-contact-card__yellow c-card-tel">
          <p class="c-card-tel__text">電話で予約する</p>
          <p class="c-card-tel__number">025-255-1600</p>
          <p class="c-card-tel__subtext">【受付時間】9:00〜18:00(土日祝を除く)</p>
        </a>
        <a href="<?php echo home_url('/contact/'); ?>" class="c-contact-card__yellow c-card-calendar">
          <p class="c-card-calendar__text">ネットで予約する</p>
          <p class="c-card-calendar__subtext">ネットで簡単予約、24時間受付中！</p>
        </a>
      </div>
    </div>
  </section>
  <!-- /contact -->
</main>
<!-- /main -->


<!-- button consultations -->
<a href="<?= $home_url; ?>/consultations/" class="p-consultations__button">
  <img src="<?= $directory_uri ?>/common/images/common/ic-question.svg" alt="クエスチョンマーク">
  <p>無料相談</p>
</a>
<!-- /button consultations -->
<?php include_once('footer.php'); ?>
