<?php include_once('header.php'); ?>

<?php include( get_template_directory().'/module/mv.php' ); ?>
<%- include( '../assets/ejs/elements/breadcrumb.ejs' ); %>

<div class="c-inner">
  <div class="c-content">
    <div class="p-single p-single-case">
      <?php if (has_post_thumbnail()) : ?>
      <div class="s-thumbnail">
        <img src="<?php echo get_the_post_thumbnail_url() ?>" alt="">
      </div>
      <?php endif; ?>
      <div class="i-ttl">
        <div class="i-ttl__top">
          <p class="i-ttl__date"><?php echo get_the_date( 'Y/m/d' ); ?></p>
          <?php 
            $class = '';
            switch ($post_cat_pattern) {
              case 'patternA':
                $class = 'c-btn01-typeA c-btn01-typeA--reverse';
                break;
              case 'patternB':
                $class = 'c-btn01-typeB c-btn01-typeB--reverse';
                break;
              case 'patternC':
                $class = 'c-btn01-typeC c-btn01-typeC--reverse';
                break;
            }

            if($post_cat): 
              $cat = get_the_terms($post->ID, $post_slug.'-cat');
              if(!empty($cat)):
          ?>
          <a href="<?php echo home_url($post_slug.'?post-cat='.$cat[0] -> slug);?>" class="i-ttl__cat <?php echo $class; ?>"><?php echo $cat[0] -> name; ?></a>
          <?php
              endif;
            endif;
          ?>
        </div>
        <h1 class="i-ttl__ttl"><?php the_title(); ?></h1>

        <?php if(!empty(get_field('タイトル下テキスト'))): ?>
        <div class="text-editor u-mt-2">
          <?php echo get_field('タイトル下テキスト'); ?>
        </div>
        <?php endif; ?>

        <?php if(!empty(get_field('ギャラリー_タイトル'))): ?>
        <section class="s-gallery u-mt-10 u-mt-sp-6">
          <div class="text-editor"><h3><?php echo get_field('ギャラリー_タイトル'); ?></h3></div>
          <?php if(!empty(get_field('ギャラリー'))): ?>
          <ul class="s-gallery__list u-mt-4 u-mt-sp-2">
            <?php foreach(get_field('ギャラリー') as $val): ?>
            <li>
              <a data-fancybox="gallery" href="<?php echo $val['画像']; ?>" data-caption="<?php echo $val['テキスト']; ?>">
                <img src="<?php echo $val['画像']; ?>" alt="">
                <?php if(!empty($val['テキスト'])): ?>
                <p><?php echo $val['テキスト']; ?></p>
                <?php endif; ?>
              </a>
            </li>
            <?php endforeach; ?>
          </ul>
          <?php endif; ?>
        </section>
        <?php endif; ?>

        <?php if(!empty(get_field('テーブル_タイトル'))): ?>
        <section class="s-table u-mt-10 u-mt-sp-6">
          <div class="text-editor"><h3><?php echo get_field('テーブル_タイトル'); ?></h3></div>
          <?php
            if(!empty(get_field('テーブル'))): 
            $table_bg = get_field('テーブル_タイトル背景色');
            $txt_color = get_field('テーブル_タイトル文字色');
            echo 
              <<<EOD
                <style>
                  :root {
                    --table-bg: {$table_bg};
                    --txt-color: {$txt_color};
                  }
                </style>
                
              EOD;
          ?>
          <table>
            <?php foreach(get_field('テーブル') as $val): ?>
            <tr>
              <th><?php echo $val['タイトル']; ?></th>
              <td><?php echo $val['内容']; ?></td>
            </tr>
            <?php endforeach; ?>
          </table>
          <?php endif; ?>
        </section>
        <?php endif; ?>

        <?php if(!empty(get_field('フリースペース'))): ?>
        <section class="u-mt-10 u-mt-sp-6">
          <div class="text-editor"><?php echo get_field('フリースペース'); ?></div>
        </section>
        <?php endif; ?>
        
      </div>

      <div class="c-pagenation u-mt-5">
        <div class="c-pagenation__prev c-pagenation__el"><?php previous_post_link('%link', '<span>前の記事</span>', false ); ?></div>
        <div class="c-pagenation__list"><a href="../"> <span>一覧へ戻る</span></a></div>
        <div class="c-pagenation__next c-pagenation__el"><?php next_post_link('%link', '<span>次の記事</span>', false ); ?></div>
      </div>
    </div>
  </div>
</div>

<?php include_once('footer.php'); ?>